<p>
亲爱的<%= @user.login %>：
</p>
<p>
</p>
<p>
您的密码重设要求已经得到验证。请点击以下链接输入您新的密码：
</p>
<p>
<% url = reset_password_url( :reset_password_code => @user.reset_password_code ) %>
<%= link_to url, url %>
</p>
<p>
如果以上链接无法点击，请将上面的地址复制到你的浏览器(如IE)的地址栏再访问。
</p>
<p>&nbsp;</p>
<p>
(这是一封自动产生的email，请勿回复。)
</p>
