<p>
亲爱的<%= @user.login %>：
</p>
<p>
</p>
<p>
感谢对<%= @operator.title %>的支持，您在<%= @operator.title %>注册成功。
</p>
<p>
您的注册账号：<%= @user.login %>
</p>
<p>
登录地址：<%= link_to signup_url, signup_url %>
</p>

<p>&nbsp;</p>
<p>
(这是一封自动产生的email，请勿回复。)
</p>
