<div class="datagrid" style=" margin-top: 8px">
  <h5>接口接收流量TopN</h5>
  <table  cellspacing="0" >
    <thead>
      <tr>
        <%=th_tag "主机"%>
        <%=th_tag "接收（Kbps）"%>
      </tr>
    </thead>
    <% if @inoctets %>
      <tbody>
        <% if @inoctets.size > 0 %>
          <% @inoctets.each do |type| %>
            <tr>
              <%=td_tag type["name"]+"/"+type["service"]%>
              <%=td_tag ('%.2f' %(type["inoctets"]))%>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    <%end%>
  </table>
</div>
