<!--header-->
<div id="header" class="clearfix">
  <h2 id="logo">
    <%=link_to t('production_name') + "<em>In the cloud</em>", "/" %>
  </h2>
  <div id="unused" class="f4">
    <%=link_to t('signup'), signup_url %>
    <span class="pipe">|</span>
    <%=link_to t('login'), login_url %>
</div></div>
<!--header end-->
