[{kernel, 
	[{start_timer, true}, {start_pg2, true}]},
 {mysql, 
    [{pool_size, 1},
    {host, "localhost"}, 
    {port, 3306}, 
    {username, "root"}, 
    {password, "public"}, 
    {database, "monit2"},
    {encoding, utf8}]},
 {emongo, [
	{pools, [
		{monit, [
			{size, 2},
			{host, "localhost"},
			{port, 27017},
			{database, "monit"}
		]}
	]}]},
 {monit_slave,
	[{locale, {zh, cn}},
    {amqp, [{host, "localhost"}, {vhost, <<"/monit">>}, {user, <<"monit">>}, {password, <<"public">>}]}]}
].
