<div class="datagrid" style=" margin-top: 8px">
  <h5>CPU使用率TopN</h5>
  <table cellspacing="0">
    <thead>
      <tr>
        <%=th_tag "主机"%>
        <%=th_tag "一分钟平均负载"%>
      </tr>
    </thead>
    <% if @cpu %>
      <tbody>
        <% if @cpu.size > 0 %>
          <% @cpu.each do |type| %>
            <tr>
              <%=td_tag type["name"]%>
              <%=td_tag ('%.2f' %(type["load"]))+'%'%>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    <%end%>
  </table>
</div>

