<div class="datagrid" style=" margin-top: 8px">
  <h5>SWAP使用率TopN</h5>
  <table cellspacing="0">
    <thead>
      <tr>
        <%=th_tag "主机"%>
        <%=th_tag "SWAP使用率"%>
      </tr>
    </thead>
    <% if @swap %>
      <tbody>
        <% if @swap.size > 0 %>
          <% @swap.each do |type| %>
            <tr>
              <%=td_tag type["name"]%>
              <%=td_tag ('%.2f' %(type["usage"]))+'%'%>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    <%end%>
  </table>
</div>


