<div class="wrap">
  <% board :id => nil do %>
    <% board_header do %>
      修改密码
    <% end %>
    <% board_content do %>
      <% 
        @user.password = nil
        @user.old_password = nil
        @user.password_confirmation = nil
      %>
      <% form_for @user, :builder => ::UIFormBuilder, :url => {:action => 'update_password'},:html=>{:class=>'form'} do |f|%>
        <%= f.password_field :old_password, :required => true %>
        <%= f.password_field :password, :label=>"新密码", :required => true%>
        <%= f.password_field :password_confirmation, :required => true%>
        <%= f.submit "确定" %>
      <% end %>
    <%end%>
  <%end%>
</div>
